* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*-----------------INFO TOP------------------------*/

.preTop {
	width: 100%;
	padding: 5px 10% 10px 5%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*background-color: ;*/
}

.preTop-contInfo {
	width: 700px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	/*background-color: red;*/
}

.preTop-contInfo > p {
	line-height: 1.5;
}

.preTop-social {
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.preTop-social > p {
	font-size: 2em;
}

.preTop-social > p a {
	text-decoration: none;
	color: black;
}


/*---------------------hamb------------------------*/

.top {
	width: 100%;
	padding: 10px 10% 10px 10%;
	display: none;
	background-color: #59afd0;
}

.top label {
	font-size: 2em;
	color: white;
	cursor: pointer;
}

#btn-menu {
	display: none;
}



/*--------------------NAV BAR-----------------------*/

nav > img {
	width: 300px;
}

nav {
	width: 100%;
	padding: 20px 10% 20px 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.links a {
	text-decoration: none;
	margin-left: 20px;
	color: black;
	
}


/*--------------------MAIN-----------------------------*/

main {
	width: 100%;
	padding: 20px 10% 20px 10%;
	/*background-color: green;*/
}

.inicio {
	background-color: red;
	padding: 20px 0px;
	display: none;
}

.programas-title, .historia-title{
	padding: 60px 0px;
}

/*-------------------titulos---------------*/

.programas-title h2{
	text-align: center;
	font-size: 1.8em;

}

 .historia-title h2 {
	text-align: center;
	font-size: 1.8em;

}

.galeria-tit h2 {
	text-align: center;
	font-size: 1.8em;
}

.contact-title h2 {
	text-align: center;
	font-size: 1.8em;
	background-color: #ebedef;
	padding-top: 80px;
	padding-bottom: 20px;
	margin-top: 50px;
}


/*---------------------------------------------*/


.programas-Primero-a {
	display: flex; 
	align-items: center;
	padding: 20px 0px;
	/*background-color: pink;*/
	margin: 10px 0px;
}

.programas-Primero-a > img {
	width: 40%;
	margin-right: 20px;
}

.programas-Primero-b {
	display: flex; 
	align-items: center;
	padding: 20px 0px;
	/*background-color: pink;*/
	margin: 10px 0px;
}

.programas-Primero-b > img {
	width: 40%;
	margin-left: 20px;
}

.texto p {
	line-height: 1.8;
}

.texto ul {
	margin: 20px 0px;
	margin-left: 30px;
	line-height: 1.5;
}

.green {
	color: #75af3f;
}

.blue {
	color: #4054b2;
}

.orange {
	color: #e55252;
}

.bluesea {
	color: #00909e;
}

.purp {
	color: #a03899;
}

/*------------------------Historia-------------------*/

.historia {
	background-color: #ebedef;
	margin-top: 40px;
	padding: 20px 10% 20px 10%;
	margin-bottom: 40px;

}

.historia p {
	line-height: 1.8;
	margin-bottom: 20px;
}

.image1, .image2 {
	width: 40%;
}

.image1 {
	float: left;
	margin-right: 20px;
	max-width: 1000px;
}

.image2 {
	float: right;
	margin-left: 20px;
	max-width: 1000px;
}

.sub {
	width: 100%;
	padding: 20px 0px;
}

.sub h3 {
	text-align: center;
}

.sub h3 a {
	text-decoration: none;
	color: black;
}

/*--------------------------------Galeria-----------------------*/

.galeria {
	width: 100%;
	padding: 50px 10% 20px 10%;
	/*background-color: red;*/
	margin-bottom: 20px;
}

.galeria-cont {
	width: 100%;
	/*background-color: pink;*/
	margin-top: 30px;

}



.galeria-cont ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}

.galeria-cont ul li {
	list-style: none;
	display: inline-block;
	width: 300px;
}

.galeria-cont ul li img {
	margin: 10px;
	width: 100%;
}

/*-------------------CONTACTO-------------------*/



.contacto {
	width: 100%;
	padding: 40px 10% 40px 10%;
	background-color: #ebedef;
	
	display: flex;
	align-items: center;

}

.mapa {
	width: 100%;
	max-width: 500px;
	margin: 0px 20px;
}

.mapa p {
	text-align: center;
	margin-top: 20px;
	line-height: 1.5;
}

.formulario {
	/*background-color: red;*/
	padding: 10px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formulario form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 450px;
}

input, textarea {
	margin: 10px;
	
	border-radius: 10px;
	border: none;
	width: 100%;
	resize: none;
	padding: 15px 10px;
}


	


.boton {
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #59afd0;
	color: white;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}




/*-------------------MODAL-------------------------*/


.modal-galeria1 {
	display: none;
}

.modal-galeria1:target {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;


}

.carta {
	width: 80%;
	/*background-color: red;*/
	display: flex;
	align-items: center;
	background-color: white;

}

.carta img {
	width: 100%;
	min-width: 400px;

}

.textoCarta {
	background-color: white;
	padding: 40px;
}

.textoCarta h2 {
	
} 

.textoCarta p {
	margin-top: 5px;
	line-height: 2;
}

.cerr a {
	text-decoration: none;
	font-weight: bold;
}


/*-------------------FOOTER-----------------------*/

footer {
	width: 100%;
	padding: 40px 10% 40px 10%;
	background-color: #3a3a3a;
}

footer p {
	text-align: center;
	color: white;
}


/*----------------------MEDIA------------------------*/

@media screen and (max-width: 1060px) {
	nav {
		padding: 20px 5% 20px 5%;
	}

	.contacto {
		flex-direction: column;
	}

	.mapa {
		margin: 20px 0px;
	}
}




@media screen and (max-width: 944px) {
	nav {
		flex-direction: column-reverse;
	}

	.links {
		display: flex;
		flex-direction: column;
		background-color: #59afd0;
		padding: 20px;
		width: 100%;
		margin-left: -200%;
		position: absolute;
		top: 2px;
		transition: all 500ms ease;
	}

	.links a {
		margin-bottom: 30px;
		color: white;
	}

	.links a:last-child {
		margin-bottom: 0;
	}

	.top {
		display: block;
	}

	#btn-menu:checked ~ .links {
		margin: 0;
	}

	.carta {
		flex-direction: column;
	}

	.carta img {
	width: 100%;
	min-width: auto;

	}

	.textoCarta h2 {
		font-size: 1em;
	} 

	.textoCarta p {
	font-size: 0.8em;
	}
}




@media screen and (max-width: 600px) {

	.preTop {
		flex-direction: column;
		padding: 10px 5% 10px 5%;
	}

	.preTop-contInfo {
		width: 100%;

	}

	.preTop-contInfo p {
		overflow-wrap: anywhere;
	}

	

	.preTop-social {
		margin-top: 20px;
		width: 50%;
	}

	.programas-Primero-a {
		flex-direction: column;
	}

	.programas-Primero-a > img {
		margin-bottom: 20px;
		width: 100%;
		margin-right: 0;
	}

	.programas-Primero-b {
		flex-direction: column-reverse;
	}

	.programas-Primero-b > img {
		margin-bottom: 20px;
		width: 100%;
		margin-left: 0px;
	}

	.image1, .image2 {
		width: 100%;
		margin-bottom: 20px;
	}

	.formulario {
		width: 100%;
	}
	

}


@media screen and (max-width: 345px) {
	nav > img {
		width: 100%;
	}
}